pre {
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 0.1em 0.3em;
    margin-left: 1.5em;
    margin-right: 1.5em;

    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}

code {
    background-color: #F8F8F8;
    border-style: solid;
    border-width: 1px;
    border-color: black;

    padding: 0px 0.2em;
}

pre code {
    background-color: transparent;
    border-style: none;

    padding: 0px;
}

h1 {
    font-size: 300%;
    margin: 0px;
}

h2 {
    color: #080;
    text-shadow: 0.08em 0.08em 0.1em rgba(0,0,0,0.2);
}